<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 shadow p-4 bg-white rounded">

            <%- include("partials/header.ejs") %>
    <%- include("partials/nav.ejs") %>
     <h1>Adding a new Author</h1>


    <form method="POST" action="/author/new">
      First Name:
      <input type="text" name="fName"><br>
      Last Name:
      <input type="text" name="lName"><br>
      Date of Birth:
      <input type="date" name="birthDate"><br>  
       Date of Death:
      <input type="date" name="deathDate"><br> 
       Sex:
      <select type="select" name="sex"><br>   
        <option value="M">Male</option>
        <option value="F">Female</option>
      </select><br>
       Profession:
      <input type="text" name="profession"><br> 
       Country:
      <input type="text" name="country"><br>
       Portrait:
      <input type="text" name="portrait"><br>
       Biography:
      <input type="text" name="biography"><br>
      <button>Add Author</button>
    </form>

    <% if (typeof message != "undefined"){ %>
  		 <h3><%=message%></h3>
    <% } %>
  <%- include("partials/footer.ejs") %>
          </div>
    </div>
</div>
</body>
</html>